<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         stopOnError="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>lib</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="tests/results/coverage-html"/>
            <text outputFile="tests/results/coverage.txt" showUncoveredFiles="false"/>
        </report>
    </coverage>

    <logging>
        <junit outputFile="tests/results/junit.xml"/>
        <teamcity outputFile="tests/results/teamcity.txt"/>
    </logging>

</phpunit>
